<html xmlns:th="https://www.thymeleaf.org/">
<head>
<title>editpage</title>
</head>
<body>
<h2>WELCOME TO EDIT</h2>
<form th:action="@{/user/update}" method="POST" th:object="${user}">
<pre>
USER ID    :<input type="hidden" th:field="*{id}" readonly="readonly">
NAME       :<input type="text" th:field="*{userName}">
DEGIGNATION:<input type="text" th:field="*{userDegigNation}">
</pre>
<input type="submit" value="update User">
</form>
<!-- read the data from model memory -->
<samp th:text=${msg}></samp>
</body>
</html>